@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,700;1,900&display=swap');

@theme{
     --font-Open-Sans: "Open-Sans", sans-serif;
     --font-Poppins: "Poppins", sans-serif;
    };

 .morph {
  animation: morph 3s ease-in-out 0s infinite normal none;
}

@keyframes morph {
  0% { transform: scale(1); opacity: 1; background: #3b82f6; color: #ffffff;  }
  50% { transform: scale(1.1); opacity: 0.8; background: #3b82f6; color: #ffffff;  }
  100% { transform: scale(1); opacity: 1; background: #3b82f6; color: #ffffff;  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

html{
  scroll-behavior: smooth;
}

@keyframes softSlide {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-soft-slide {
  animation: softSlide 0.4s ease-out forwards;
}

@keyframes fireFlicker {
  0% { transform: scale(1) rotate(-1deg); opacity: 0.9; }
  50% { transform: scale(1.06) rotate(1deg); opacity: 1; }
  100% { transform: scale(1) rotate(-1deg); opacity: 0.9; }
}

.animate-fire {
  animation: fireFlicker 1.2s infinite ease-in-out;
}
